/script.sh
_site/
.bundle/
vendor/
Gemfile.lock
.sass-cache/
.jekyll-cache/
.jekyll-metadata
test-math-blocks.html
*~
/org/_posts/2025-10-30-generated-images.pdf
*.tex
/org/_posts/ltximg/
/org/_posts/*.tikz
screenshot-*.png
